<template id="">
<!-- <v-dialog v-model="dialog" max-width="500px"> -->
  <v-card>
    <v-card-title>
      <span class="headline">{{ formTitle }}</span>
    </v-card-title>
    <v-card-text>
      <span>
        <p v-for="error in errorMsg" :key="error.error">{{error.error}}</p>
      </span>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sor.abv" label="Alkoholtartalom"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-autocomplete
              v-model="sor.category"
              :items="kategoriak"
              :readonly="false"
              :item-text="kategoriaSelectText"
              placeholder="Kategória"
              persistent-hint
            >
          </v-autocomplete>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sor.name" label="Név"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sor.description" label="Leírás"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sor.style" label="Stílus"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-autocomplete
            v-model="sor.brewery"
            :items="sorfozdek"
            :readonly="false"
            :item-text="SorfozdeSelectText "
            placeholder="Sörfőzde"
            persistent-hint
            return-object
            >
          </v-autocomplete>
        </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sor.ibu" label="Ibu"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sor.srm" label="Srm"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sor.upc" label="Upc"></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click="close">Mégsem</v-btn>
      <v-btn color="blue darken-1" flat @click="save">Mentés</v-btn>
    </v-card-actions>
  </v-card>
<!-- </v-dialog> -->
</template>

<script>
export default {
  props: {
    sor: {
      type: Object
    },
    formTitle: {
      type: String
    }
    // edit: {
    //   type: Boolean,
    //   default: false
    // }
  },
  data: () => ({
    sorfozdek: [],
    kategoriak: [],
    errorMsg: []
  }),

  computed: {

  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this._getBreweryNames_()
    this._getBeerCategories_()
  },

  methods: {
    SorfozdeSelectText: item => item.name,
    kategoriaSelectText: item => item.category,

    async _getBreweryNames_ () {
      try {
        this.sorfozdek = await this.$Breweries.getAllNames()
      } catch (e) {
        console.error('[components][BeerEditCard.vue][_getBreweryNames_] ', e)
      }
    },

    async _getBeerCategories_ () {
      try {
        this.kategoriak = await this.$Beers.getAllCategories()
      } catch (e) {
        console.error('[components][BeerEditCard.vue][_getBreweryNames_] ', e)
      }
    },

    close () {
      this.errorMsg = []
      this.$emit('update:dialog', false)
    },

    async save () {
      try {
        var upsert = await this.$Beers.upsertOne(this.sor)
        if (upsert.msg === 'ok') {
          this.$emit('beerUpserted', true)
          this.close()
        } else {
          this.errorMsg = upsert.error
        }
      } catch (e) {
        console.error('[components][BeerEditCard.vue][save] ', e)
      }
    }
  }
}
</script>
