<template id="">
  <v-card v-if="sor">
    <v-card-title primary-title>
      <h3 class="headline mb-0">{{sor.name}}, készült {{sor.breweryname}} ({{sor.brewerycity}}, {{sor.brewerycountry}})</h3>
      <div style="margin-top: 10px"> {{ sor.description }} </div>
    </v-card-title>
      <v-card-text>
        <v-list
          subheader
          two-line
        >

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>{{sor.category}}</v-list-tile-title>
            <v-list-tile-sub-title>Kategória</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>{{sor.style}}</v-list-tile-title>
            <v-list-tile-sub-title>Stílus</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{sor.ibu}}</v-list-tile-title>
              <v-list-tile-sub-title>Ibu</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{sor.abv}}</v-list-tile-title>
              <v-list-tile-sub-title>Abv</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{sor.srm}}</v-list-tile-title>
              <v-list-tile-sub-title>Srm</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{sor.upc}}</v-list-tile-title>
              <v-list-tile-sub-title>Upc</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>


        </v-list>
      </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      sorNev: String,
      sorBreweryId: String
    },
    data: () => ({
      sor: {}
    }),
    watch: {
      sorNev () {
        this._getBeerDetails_()
      }
    },
    methods: {
      async _getBeerDetails_ () {
        try {
          this.sor = await this.$Beers.getByName(this.sorNev, this.sorBreweryId)
        } catch (e) {
          console.error('[components][BeerViewCard.vue][_getBeerDetails_] ', e)
        }
      }
    }
  }
</script>
