<template id="">
  <v-card v-if="sorfozde.brewery">
    <v-card-title primary-title>
      <h3 class="headline mb-0">{{sorfozde.brewery.name}} ({{sorfozde.brewery.city}}, {{sorfozde.brewery.country}}, {{sorfozde.brewery.code}})</h3>
      <div style="margin-top: 10px"> {{ sorfozde.brewery.description }} </div>
    </v-card-title>
      <v-card-text>
        <v-list
          subheader
          two-line
        >

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>{{sorfozde.brewery.phone}}</v-list-tile-title>
            <v-list-tile-sub-title>Elérhetőség</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>{{sorfozde.brewery.state}}</v-list-tile-title>
            <v-list-tile-sub-title>Állam</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>{{sorfozde.brewery.website}}</v-list-tile-title>
            <v-list-tile-sub-title>Weboldal</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              <ul>
                <li v-for="(address, index)  in sorfozde.brewery.address" :key="index">{{address}}</li>
              </ul>
            </v-list-tile-title>
            <v-list-tile-sub-title>Cím(ek)</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile v-for="(beer, index)  in sorfozde.beer" :key="index" >
          <v-list-tile-content >
            <v-list-tile-title>
              {{beer.name}}
            </v-list-tile-title>
            <v-list-tile-sub-title>Főzött sör</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>



        </v-list>
      </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      sorNev: String,
      sorBreweryId: String
    },
    data: () => ({
      sorfozde: {}
    }),
    watch: {
      sorNev () {
        this._getBreweryDetails_()
      }
    },
    methods: {
      async _getBreweryDetails_ () {
        try {
          this.sorfozde = await this.$Breweries.getByName(this.sorNev)
          console.log('aaa', this.sorfozde)
        } catch (e) {
          console.error('[components][BreweryViewCard.vue][_getBreweryDetails_] ', e)
        }
      }
    }
  }
</script>
