<template id="">
<!-- <v-dialog v-model="dialog" max-width="500px"> -->
  <v-card>
    <v-card-title>
      <span class="headline">{{ formTitle }}</span>
    </v-card-title>
    <v-card-text>
      <span>
        <p v-for="error in errorMsg" :key="error.error">{{error.error}}</p>
      </span>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sorfozde.name" label="Név"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sorfozde.city" label="Város"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sorfozde.country" label="Ország"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sorfozde.phone" label="Telefonszám"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field v-model="sorfozde.state" label="Állam"></v-text-field>
          </v-flex>
          <v-flex>
            <v-textarea
            name="input-7-1"
            label="Leírás"
            v-model="sorfozde.description"
            ></v-textarea>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click="close">Mégsem</v-btn>
      <v-btn color="blue darken-1" flat @click="save">Mentés</v-btn>
    </v-card-actions>
  </v-card>
<!-- </v-dialog> -->
</template>

<script>
export default {
  props: {
    formTitle: {
      type: String
    }
  },
  data: () => ({
    errorMsg: [],
    sorfozde: {}
  }),

  computed: {

  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
  },

  methods: {

    close () {
      this.errorMsg = []
      this.$emit('update:dialog', false)
    },

    async save () {
      try {
        var upsert = await this.$Breweries.upsertOne(this.sorfozde)
        if (upsert.msg === 'ok') {
          this.$emit('beerUpserted', true)
          this.close()
        } else {
          this.errorMsg = upsert.error
        }
      } catch (e) {
        console.error('[components][BeerEditCard.vue][save] ', e)
      }
    }
  }
}
</script>
