<template>
  <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-toolbar color="indigo" dark>
            <v-toolbar-title>5 legmagasabb alkoholtartalmú sör</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-list>
            <v-list-tile
              v-for="(beer, index) in beers"
              avatar
              :key="index"
            >
              <v-list-tile-content>
                {{beer.name}}
              </v-list-tile-content>
              <v-list-tile-avatar>
              {{beer.abv}} %
            </v-list-tile-avatar>
            </v-list-tile>
          </v-list>
        </v-card>

        <v-card>
          <v-toolbar color="indigo" dark>
            <v-toolbar-title>5 mostanában frissített sörfőzde</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-list>
            <v-list-tile
              v-for="(brewery, index) in breweries"
              avatar
              :key="index"
            >
              <v-list-tile-content>
                {{brewery.name}}
              </v-list-tile-content>
              <v-list-tile-avatar>
              {{brewery.updated | formatDate}}
            </v-list-tile-avatar>
            </v-list-tile>
          </v-list>
        </v-card>

      </v-flex>
    </v-layout>
</template>


<script>
export default {
  data: () => ({
    beers: [],
    breweries: []
  }),

  computed: {
  },

  watch: {
  },

  created () {
    this.initialize()
  },

  methods: {
    async initialize () {
      try {
        this.beers = await this.$Beers.topAbv()
      } catch (e) {
        console.error('[pages][index.vue][initialize] ', e)
      }
      try {
        this.breweries = await this.$Breweries.topUpdated()
      } catch (e) {
        console.error('[pages][index.vue][initialize] ', e)
      }
    }

  }
}
</script>
