<template >
  <div>

    <v-toolbar flat color="white">
      <v-toolbar-title>Sörfőzdék listája</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>

      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>



      <v-dialog v-model="viewdialog" max-width="500px">
        <template v-slot:activator="{ onview }">
      </template>
      <BreweryViewCard :sorNev="editedItem.name"></BreweryViewCard>

      </v-dialog>

      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">Új sörfőzde</v-btn>
        </template>
        <BreweryEditCard v-bind:dialog.sync="dialog" :formTitle="formTitle" v-on:beerUpserted="initialize"></BreweryEditCard>
      </v-dialog>

    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="sorfozdek"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:items="props">
        <td class="text-xs-right">{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.city }}</td>
        <td class="text-xs-right">{{ props.item.country }}</td>
        <td class="text-xs-right">
          <li v-for="(address, index) in props.item.address" :key="index">{{ address }}</li>
        </td>
        <td class="justify-center layout px-0">
          </v-icon>
          <v-icon
            small
            @click="vieweItem(props.item)"
          >
            info
          </v-icon>
        </td>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
      <v-alert v-slot:no-results :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </div>
</template>

<script>
import BreweryViewCard from '../components/BreweryViewCard'
import BreweryEditCard from '../components/BreweryEditCard'
export default {
  data: () => ({
    search: '',
    view: false,
    viewdialog: false,
    newItemCard: false,
    dialog: false,
    headers: [
      {
        text: 'Sörfőzde',
        align: 'left',
        value: 'name'
      },
      // { text: 'Név', sortable: false },
      { text: 'Város', sortable: false },
      { text: 'Ország', sortable: false },
      { text: 'Cím', sortable: false },
      { text: 'Műveletek', sortable: false }
    ],
    sorfozdek: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      city: '',
      address: '',
      country: ''
    },
    defaultItem: {
      name: '',
      city: '',
      address: '',
      country: ''
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Új sörfőzde' : 'Sörfőzde szerkesztése'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    viewdialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    close () {
      this.dialog = false
      this.viewdialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    async initialize () {
      try {
        this.sorfozdek = await this.$Breweries.getAll()
      } catch (e) {
        console.error('[pages][sorfozdek.vue][initialize] ', e)
      }
    },

    editItem (item) {
      this.editedIndex = this.sorfozdek.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    vieweItem (item) {
      this.editedIndex = this.sorfozdek.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.viewdialog = true
    },

    newItem () {
      this.newItemCard = true
    }

  },
  components: {
    BreweryViewCard,
    BreweryEditCard
  }
}
</script>
