<template >
  <div>

    <v-toolbar flat color="white">
      <v-toolbar-title>Sörök listája</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>

      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>



      <v-dialog v-model="viewdialog" max-width="500px">
        <template v-slot:activator="{ onview }">
      </template>
      <BeerViewCard :sorNev="editedItem.name" :sorBreweryId="editedItem.brewery_id"></BeerViewCard>

      </v-dialog>

      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">Új sör</v-btn>
        </template>
        <BeerEditCard :sor="editedItem" v-bind:dialog.sync="dialog" :formTitle="formTitle" v-on:beerUpserted="initialize"></BeerEditCard>
      </v-dialog>

    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="sorok"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:items="props">
        <td class="text-xs-right">{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.style }}</td>
        <td class="text-xs-right">{{ props.item.category }}</td>
        <td class="text-xs-right">{{ props.item.abv }}</td>
        <td class="text-xs-right">{{ props.item.ibu }}</td>
        <td class="text-xs-right">{{ props.item.srm }}</td>
        <td class="text-xs-right">{{ props.item.upc }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
          <v-icon
            small
            @click="vieweItem(props.item)"
          >
            info
          </v-icon>
        </td>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
      <v-alert v-slot:no-results :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </div>
</template>

<script>
import BeerViewCard from '../components/BeerViewCard'
import BeerEditCard from '../components/BeerEditCard'
export default {
  data: () => ({
    search: '',
    view: false,
    viewdialog: false,
    newItemCard: false,
    dialog: false,
    headers: [
      {
        text: 'Sör',
        align: 'left',
        value: 'name'
      },
      // { text: 'Név', sortable: false },
      { text: 'Stílus', sortable: false },
      { text: 'Kategória', sortable: false },
      { text: 'Alkoholtartalom', sortable: false },
      { text: 'Ibu', sortable: false },
      { text: 'Srm', sortable: false },
      { text: 'Upc', sortable: false },
      { text: 'Műveletek', sortable: false }
    ],
    desserts: [],
    sorok: [],
    editedIndex: -1,
    editedItem: {
      abv: '',
      category: '',
      description: '',
      ibu: '',
      srm: '',
      style: '',
      upc: '',
      name: '',
      brewery: ''
    },
    defaultItem: {
      abv: '',
      category: '',
      description: '',
      ibu: '',
      srm: '',
      style: '',
      upc: '',
      name: '',
      brewery: ''
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Új sör' : 'Sör szerkesztése'
    }
  },

  watch: {
    dialog (val) {
      console.log('valL ')
      val || this.close()
    },
    viewdialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    close () {
      this.dialog = false
      this.viewdialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    async initialize () {
      try {
        this.sorok = await this.$Beers.getAll()
      } catch (e) {
        console.error('[pages][sorok.vue][initialize] ', e)
      }
    },

    editItem (item) {
      this.editedIndex = this.sorok.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    async deleteItem (item) {
      this.editedItem = Object.assign({}, item)
      try {
        await this.$Beers.deleteOne(this.editedItem)
        this.initialize()
      } catch (e) {
        console.error('[pages][sorok.vue][initialize] ', e)
      }
    },

    vieweItem (item) {
      this.editedIndex = this.sorok.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.viewdialog = true
    },

    newItem () {
      this.newItemCard = true
    }

  },
  components: {
    BeerViewCard,
    BeerEditCard
  }
}
</script>
